// Here you can add other styles

.app-header {
  flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #a4b7c1;

  // navbar
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #fff;
  background: #29363d;
}

